body {
    background-color:rgb(247, 178, 99);
    color: #fcc884;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(105, 167, 249);
    color: rgb(255, 166, 0);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(250, 243, 150)
}

p {
    font-size: 18px;
    line-height: 1.6;
}