body {
    background-color:rgb(248, 202, 146);
    color: #02010009;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(247, 221, 183);
    color: rgb(247, 239, 224);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(247, 168, 50)
}

p {
    font-size: 18px;
    line-height: 1.6;
}